html {
    height: 100vh;
    width: 100vw;
    font-size: 5vw;
}

html,
body {
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.excuse-top {
    display: flex;
    justify-content: end;
    flex-direction: column;
    font-size: 0.75rem;
    font-family: 'Fira Sans Condensed', sans-serif;
    margin: 0.5rem;
    height: 50%;
}

.excuse-bottom {
    display: flex;
    justify-content: start;
    flex-direction: row;
    font-size: 1.25rem;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    margin: 0.5rem;
    height: 50%;
}

.generate-button-container {
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin: 0.5rem;
    height: 50%;
}

.generate-button {
    font-size: 0.5rem;
    font-family: 'Fira Sans Condensed', sans-serif;
    color: #FFFFFF;
    background-color: #000000;
    border: 2px #000000 solid;
    border-radius: 5vw;
    padding: 10px 30px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.25s;
}

.generate-button:hover {
    color: #000000;
    background-color: #FFFFFF;
}